<a href="https://colab.research.google.com/github/joony0512/Statistics-and-NLP/blob/main/%5B10_1%5D_%EC%A0%95%EB%B3%B4%EC%B6%94%EC%B6%9C%EC%97%90%EC%84%9C_%EA%B4%80%EA%B3%84%ED%98%95_%ED%8A%9C%ED%94%8C_%ED%91%9C%ED%98%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **실습 10-1**

In [ ]:
# [표11-1]의 예를 바탕으로 한 구조화된 데이터
locs = [('고려대학교', 'In', '서울'),
        ('Naver', 'In', '성남'),
        ('KT 위즈', 'In', '수원'),
        ('한화 이글스', 'In', '대전'),
        ('NC 소프트', 'In', '성남'),
        ('삼성', 'In', '서울')]

In [ ]:
# 서울에 있는 기관 출력 
query = []

for (e1, rel, e2) in locs:
  if e2=='서울':
    query.append(e1)

print(query)

['고려대학교', '삼성']